/* Borrowed from the Vue CLI quickstart app's styling for the #app element. */
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px;
  padding-bottom: 10px;
}

header {
  color: white;
  background-color: #7d9f75;

  margin-bottom: 20px;
  padding-bottom: 20px;
}

#logo {
  margin-top: 50px;
}

main {
  margin: 30px;
}

#help {
  text-align: left;
}

#query {
  font-size: large;
}

#search-input {
  padding: 8px;
  border: 2px solid #1e8507;
  border-radius: 4px;
}

.btn {
  display: inline-block;
  background-color: #1e8507;
  color: #ffffff;

  font-size: 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  border-radius: 28px;
  border: 1px solid #2c3e50;
  cursor: pointer;

  padding: 10px 15px;
  margin: 2px;
}

.btn:hover {
  background-color: #4a9723;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn[disabled] {
  color: rgb(230, 214, 214);
  background-color: #2c3e50 !important;
  cursor: not-allowed;
}
